# BasedOnStyle: LLVM
# BasedOnStyle: Google
# BasedOnStyle: Chromium
# BasedOnStyle: Mozilla
# BasedOnStyle: WebKit
# BasedOnStyle: Microsoft
# BasedOnStyle: GNU
# BasedOnStyle: InheritParentConfig

---
Language: Cpp
BasedOnStyle: Chromium

# AccessModifierOffset: -2
# AlignAfterOpenBracket: Align
# AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
# AlignTrailingComments: true
# AllowAllArgumentsOnNextLine: false
# AllowAllParametersOfDeclarationOnNextLine: false
# AllowShortBlocksOnASingleLine: Empty
# AllowShortCaseLabelsOnASingleLine: false
# AllowShortEnumsOnASingleLine: false
# AllowShortFunctionsOnASingleLine: Empty
# AllowShortIfStatementsOnASingleLine: Never
# AllowShortLambdasOnASingleLine: Empty
# AllowShortLoopsOnASingleLine: false
# AlwaysBreakAfterReturnType: None
# AlwaysBreakBeforeMultilineStrings: false
# AlwaysBreakTemplateDeclarations: Yes
# # AttributeMacros:
# BinPackArguments: false
# BinPackParameters: false
# BitFieldColonSpacing: Both

ColumnLimit: 80
